<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.dao.UserDao">

    <insert id="insertUser">
        insert into user(name, pwd, nickname)
            VALUES (#{name},#{pwd},#{nickname})
    </insert>


    <select id="findName" resultType="java.lang.Boolean">
        select count(*) = 1 from user where name = #{name}
    </select>

    <select id="login" resultType="java.lang.Integer">
        select count(*) from user where name =#{name} and pwd = #{newPwd}
    </select>

</mapper>