<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bawei.dao.UserDetailDao">
	<!-- 新增用户详情数据 -->
	<insert id="insertUserDetail" parameterType="UserDetail">
		INSERT INTO userdetail(nikeName,sex,telephone,email,company,dept,duty,photo,userId) VALUES 
		(#{nikeName}, #{sex}, #{telephone}, #{email},#{company}, #{dept}, #{duty}, #{photo}, #{userId})
	</insert>
	<!-- 根据用户id查询用户详细信息 -->
	<select id="findUserDeatailByUserId" resultType="UserDetail">
		select * from userdetail where userId=#{userId}
	</select>
	<!-- 修改用户详细信息 -->
	<update id="updateUserDetail" parameterType="UserDetail">
		update userdetail set nikeName=#{nikeName},sex=#{sex},telephone=#{telephone},
		email=#{email},company=#{company},dept=#{dept},duty=#{duty},photo=#{photo} 
		where userId=#{userId}
	</update>
	<!-- 删除用户信息 -->
	<delete id="deleteUserDeatail" parameterType="int">
		delete from userdetail where userId=#{userId}
	</delete>
</mapper>









