<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bawei.dao.GuestDao">
	<resultMap type="Guest" id="guestMap">
		<id column="id" property="id"/>
		<result column="guestName" property="guestName"/>
		<result column="telephone" property="telephone"/>
		<result column="isHidden" property="isHidden"/>
		<result column="sex" property="sex"/>
		<result column="email" property="email"/>
		<result column="company" property="company"/>
		<result column="dept" property="dept"/>
		<result column="duty" property="duty"/>
		<result column="isShow" property="isShow"/>
		<collection property="meetings" 
			select="com.bawei.dao.MeetingDao.findMeetingByGuestId"
			ofType="Meeting" column="id"></collection>
	</resultMap>
	
	<!-- 查找嘉宾信息 -->
	<select id="findGuest" resultMap="guestMap" parameterType="Guest">
		select * from guest
		<where>
			<if test="guestName!=null and guestName!=''">
				and guestName like concat('%',#{guestName},'%')
			</if>
			<if test="telephone!=null and telephone!=''">
				and telephone like concat('%',#{telephone},'%')
			</if>
			<if test="company!=null and company!=''">
				and company like concat('%',#{company},'%')
			</if>
		</where>
	</select>
	<insert id="addGuest" useGeneratedKeys="true" keyProperty="id">
		insert into guest(guestName,telephone,isHidden,sex,email,company,dept,duty,isShow)
		values(#{guestName},#{telephone},#{isHidden},#{sex},#{email},#{company},#{dept},#{duty},#{isShow})
	</insert>
	
	<delete id="deleteGuestById">
		delete from guest where id=#{id}
	</delete>
	
	<select id="findGuestById" resultMap="guestMap">
		select * from guest where id=#{gid}
	</select>
	
	<update id="updateGuest" parameterType="Guest">
		update guest
		<set>
			<if test="guestName!=null and guestName!=''">guestName=#{guestName},</if>
			<if test="telephone!=null and telephone!=''">telephone=#{telephone},</if>
			<if test="isHidden==0 or isHidden==1">isHidden=#{isHidden},</if>
			<if test="sex!=null and sex!=''">sex=#{sex},</if>
			<if test="email!=null and email!=''">email=#{email},</if>
			<if test="company!=null and company!=''">company=#{company},</if>
			<if test="dept!=null and dept!=''">dept=#{dept},</if>
			<if test="duty!=null and duty!=''">duty=#{duty},</if>
			<if test="isShow==0 or isShow==1">isShow=#{isShow},</if>
		</set>
		where id=#{id}
	</update>
</mapper>









