<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 
	1、基本类型及String
	 注意：1、不能同时使用value子元素和value属性。
         2、<property>元素指明了使用setter方法注入依赖。
	 -->
	<bean id="userDetail" class="com.bawei.pojo.UserDetail">
		<!-- 方式一：使用标签value属性：(建议使用) -->
		<property name="id" value="1"></property>
		<!-- 方式二：使用value子元素方式： -->
		<property name="nikeName">
			<value>八维</value>
		</property>
		<property name="telephone" value="13765519807"></property>
	</bean>
	<!-- 2、Bean类型注入 -->
	<!-- 配置dao -->
	<bean id="userDao" class="com.bawei.dao.impl.UserDetailDaoImpl"></bean>
	<!-- 配置service -->
	<bean id="userService" class="com.bawei.service.impl.UserDetailServiceImpl">
		<!-- 方式一：使用标签ref属性：(建议使用) 
		<property name="userDetailDao" ref="userDao"></property>-->
		<!-- 方式二：使用ref子元素方式：
		<property name="userDetailDao">
			<ref bean="userDao"/>
		</property> -->
		<!-- 方式三：使用bean子元素方式：-->
		<property name="userDetailDao">
			<bean class="com.bawei.dao.impl.UserDetailDaoImpl"/>
		</property>
	</bean>
	<!-- 3、容器类型注入 -->
	<!-- 数组信息注入 -->
	<bean id="collection01" class="com.bawei.pojo.MyCollection">
		<property name="array">
			<array>
				<value>苹果</value>
				<value>西瓜</value>
				<value>香蕉</value>
			</array>
		</property>
		<!-- list集合信息注入 -->
		<property name="list">
			<list>
				<value>10</value>
				<value>20</value>
				<value>30</value>
				<value>40</value>
			</list>
		</property>
		<!-- set集合信息注入 -->
		<property name="set">
			<set>
				<value>10</value>
				<value>20</value>
				<value>30</value>
				<value>40</value>
			</set>
		</property>
		<!-- map集合信息注入 -->
		<property name="map">
			<map>
				<entry key="one" value="张三"></entry>
				<entry key="two" value="李四"></entry>
				<entry key="three">
					<value>王五</value>
				</entry>
			</map>
		</property>
	</bean>
</beans>







